.Search h3 {
  text-align: center;
  color: white;
  margin: 5px;
}

.formSearch {
  display: flex;
  gap: 20px;
  width: 95%;
  margin: 20px 0;
}

.formSearch ::-webkit-input-placeholder {
  color: black;
}

.submit{
  display: inline-block;
  margin: 0;
}

.box{
    height: 1000px;        
}
