.navbar{
        background-color: black;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;
        width: 100%;
}

.navbarLogo {
        width: 5%;
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
}

.navbarLogo p{
        font-size: 25px;
        margin-left: 5px;
}

.btn-logout{
        float: right;
}